.topRight, .topLeft {
    flex: 3;
}

.topCenter{
    flex: 6;
}

.posts{
    flex: 9; 
}

.singlePostComponent, .settingsWrapper{
    flex: 9;
}

.sideBar{
    flex: 3;
}

.postDesc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.settingsForm > label{
    margin-top: 20px;
}

.login{
    height: calc(100vh - 50px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      );
    background-image: url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}

.loginForm > label, button{
 margin: 10px 0;   
}