.topRight, .topLeft {
    flex: 3;
}

.topCenter{
    flex: 6;
}

.posts{
    flex: 9;
    
}

.sideBar{
    flex: 3;
}

.postDesc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}